# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Environment variables
.env

# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Test cache
.pytest_cache/

# IDE and OS files
.idea/
.vscode/
*.DS_Store
